@charset "UTF-8";

/* Typical Device Breakpoints 

-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  #esportes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: 20px auto;
  }

  #esportes > article {
    width: 30%;
    border-radius: 10px;
  }

  #imagem {
    height: 80%;
    bottom: 0;
  }

  #noticia > h2 {
    position: absolute;
    left: 0;
  }

  #noticia > h3 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1em;
  }

  #materia2 > #noticia2 {
    padding: 5px 5px;
  }

  #materia2 > #noticia2 > h2 {
    position: absolute;
    left: 0;
  }

  #materia2 > #noticia2 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 25px;
  }

  #materia2 > #imagem2 {
    height: 80%;
    bottom: 0;
  }

  hr {
    display: none;
  }

  #noticia3 {
    padding: 5px 5px;
  }

  #noticia3 > h3 {
    font-size: .9em;
    font-weight: 500;
  }

  #imagem3 {
    height: 80%;
    bottom: 0;
  }

  #noticia3 {
    padding: 5px;
  }

  #noticia3 > h2 {
    position: absolute;
    left: 0;
  }

  #noticia3 > h3 {
    margin-top: 30px;
    font-size: 1em;
  }

  #turismo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  #turismo > article {
    width: 30%;
  }

  #imagem4 {
    height: 80%;
    bottom: 0;
  }

  #imagem5 {
    height: 80%;
    bottom: 0;
  }

  #imagem6 {
    height: 80%;
    bottom: 0;
  }

  #noticia4 > h2 {
    position: absolute;
    top: 3%;
    left: 0;
  }

  #noticia5 > h2 {
    position: absolute;
    top: 3%;
    left: 0;
  }

  #noticia6 > h2 {
    position: absolute;
    top: 3%;
    left: 0;
  }

  #noticia4 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
  }

  #noticia5 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
  }

  #noticia6 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
  }
}

@media screen and (min-width: 992px) {
  #esportes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
  }

  #esportes > article {
    width: 32%;
    height: 150px;
    margin: 30px 5px;
  }

  hr {
    display: none;
  }

  #imagem {
    position: absolute;
    height: 80%;
    bottom: 0;
  }

  #noticia > h2 {
    position: absolute;
    left: 0;
  }

  #noticia > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 25px;
  }

  #materia2 > #imagem2 {
    position: absolute;
    height: 80%;
    bottom: 0;
  }

  #materia2 > #noticia2 > h2 {
    position: absolute;
    left: 0;
  }

  #materia2 > #noticia2 {
    padding: 2px;
  }

  #materia2 > #noticia2 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 30px;
    padding-left: 5px;
  }

  #imagem3 {
    position: absolute;
    height: 80%;
    bottom: 0;
  }

  #noticia3 > h2 {
    position: absolute;
    left: 0;
    top: 5px;
  }

  #noticia3 > h3 {
    margin-top: 30px;
    font-size: 1em;
    font-weight: 500;
  }
  
  #turismo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
  }
  
  #turismo > article {
    width: 32%;
    height: 150px;
  }
  
  #imagem4 {
    height: 80%;
    bottom: 0;
  }
  
  #noticia4 > h2 {
    position: absolute;
    top: 5px;
    left: 0;
  }
  
  #noticia4 > h3 {
    font-size: 1em;
    margin-top: 20px;
    font-weight: 500;
  }
  
  #imagem5 {
    height: 80%;
    bottom: 0;
  }
  
  #noticia5 > h2 {
    position: absolute;
    top: 5px;
    left: 0;
  }
  
  #noticia5 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
  }
  
  #imagem6 {
    height: 80%;
    bottom: 0;
  }
  
  #noticia6 > h2 {
    position: absolute;
    top: 5px;
    left: 0;
  }
  
  #noticia6 > h3 {
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
  }
}